.banner {
  display: block;
  background-color: #edf5f8;
  color: $color-black-medium;
  overflow: hidden;
  position: relative;
  .slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    &__content-box {
      z-index: 20;
      width: 548px;
      &--title {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: $color-blue-primary;
        border-bottom: 1.5px solid $color-pink-primary;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      &--slogan {
        display: block;
        font-size: 58px;
        font-weight: 400;
        color: #000;
        line-height: 1.3em;
        letter-spacing: 0;
        animation-name: moveInleft;
        animation-duration: 1s;
        // animation-delay: 3s;
        animation-timing-function: ease-out;
      }
      &--bio {
        display: block;
        font-size: 22px;
        line-height: 1.5em;
        color: $color-black-medium;
        font-weight: 400;
        margin-bottom: 45px;
        animation: moveInright 1s ease-out;
      }
      &--btnGroup {
        animation: moveInTop 1s ease-out;
        a {
          position: relative;
          display: inline-block;
          font-size: 16px;
          line-height: 30px;
          font-weight: 700;
          color: #fff;
          padding: 15px 40px;
          transition: all 0.2s ease-in-out;
        }
        .btn-more {
          background-color: $color-pink-primary;
        }
        .btn-service {
          margin-left: 12px;
          background-color: $color-blue-primary;
        }
        a:hover {
          background-color: $color-black-medium;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    &__image-layer {
      position: absolute;
      right: -86px;
      top: 0;
      height: 685px;
      z-index: 10;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__content-image {
      z-index: 20;
      width: 575px;
      animation: moveInTop 1s ease-out;
      img {
        object-fit: cover;
      }
    }
  }
  .banner-curve {
    background-image: url("../../img/banner-curve-two.png");
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 78px;
    background-size: 100% 100%;
    z-index: 99;
  }
}

.about {
  margin-top: 120px;
  .figure-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .aside-left {
      width: 100%;
      padding-top: 20px;
      padding-right: 30px;
      &__title {
        &--heading {
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          color: $color-blue-primary;
          border-bottom: 1.5px solid $color-pink-primary;
          text-transform: capitalize;
          margin-bottom: 20px;
        }
        &--description {
          display: block;
          font-size: 44px;
          font-weight: 400;
          color: #000;
          line-height: 1.3em;
          letter-spacing: 0;
          margin-bottom: 20px;
        }
      }
      &__content {
        p {
          color: #666;
          margin-bottom: 30px;
        }
        ul {
          li {
            position: relative;
            margin-bottom: 7px;
            line-height: 24px;
            padding-left: 25px;
            color: #666;
          }
          li:before {
            content: "\2713";
            position: absolute;
            top: 0;
            left: 0;
            font-size: 24px;
            color: $color-pink-primary;
          }
        }
      }
    }
    .aside-right {
      width: 100%;
      position: relative;
      margin: 0px -10px;
      &__photo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        position: relative;
        padding-left: 70px;
        img {
          width: 100%;
        }
      }
      &__photo::before {
        content: "";
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -36px 0px 0px 0;
        border-radius: 100px;
        z-index: 999;
        background: #fff;
      }
    }
  }
}
.line-separator {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #e2eef2;
  margin: 100px 0;
  &::before {
    content: "";
    position: absolute;
    left: 47%;
    top: 0;
    background-color: #fff;
    background-image: url("../../img/theme-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin-top: -34px;
    animation-name: rotateScale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
.news {
  .post-news {
    margin-bottom: 60px;
    &__title {
      text-align: center;
      max-width: 750px;
      margin: 0 auto;
      position: relative;
      &--heading {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: $color-blue-primary;
        border-bottom: 1.5px solid $color-pink-primary;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      &--intro {
        display: block;
        font-size: 44px;
        font-weight: 400;
        color: #000;
        line-height: 1.3em;
        letter-spacing: 0;
        margin-bottom: 20px;
      }
      &--description {
        color: #666;
        margin-bottom: 30px;
      }
    }
    &__group-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
      margin: 30px 0;
      &--news-box {
        transition: transform 0.8s;
        width: 100%;
        position: relative;
        .photo {
          position: relative;
          display: block;
          background: #010101;
          overflow: hidden;
          a {
            img {
              width: 100%;
            }
          }
        }
        .content {
          padding: 35px 35px 70px;
          position: relative;
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
          &__category {
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            color: $color-blue-primary;
            text-transform: capitalize;
            margin-bottom: 20px;
          }
          &__title {
            position: relative;
            color: $color-black-medium;
            font-weight: 700;
            margin: 0 0 25px;
          }
          &__info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            color: #999;
            &--creator {
              &::before {
                content: "";
                position: absolute;
                top: 4px;
                left: 74px;
                border-right: 1px solid #999;
                height: 15px;
              }
            }
            &--time {
              padding-left: 30px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-bottom: 2px solid $color-blue-primary;
            transform: scale(0);
            transition: all 0.3s ease;
          }
        }
        .link {
          position: absolute;
          bottom: -30px;
          left: 42%;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            background-color: #fff;
            border-radius: 100px;
            margin: 0 auto;
            box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.05),
              0px 0px 35px 0px rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease;
            span {
              transition: all 0.3s ease;
            }
          }
        }
        &:hover {
          .photo {
            a {
              img {
                transform: scale(1.1);
                opacity: 0.7;
                transition: all 1000ms ease;
              }
            }
          }
          .link {
            a {
              background-color: $color-pink-primary;
              transition: all 0.3s ease;
              span {
                color: #fff;
                transition: all 0.3s ease;
              }
            }
          }
          .content {
            &::before {
              transform: scale(1);
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}
.brand-slider {
  position: relative;
  padding: 60px 0px;
  background: #edf5f8;
  text-align: center;
  .auto-container {
    max-width: 1340px;
  }
  .brand {
    &__photo {
      width: 160px !important;
      margin: 0 auto;
      opacity: 0.2;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
.main-footer {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  padding: 25px 25px 70px;
  grid-gap: 10px;
  .footer-about {
    &__logo {
      margin-top: -25px;
    }
    &__text {
      font-size: 15px;
      line-height: 1.7em;
      font-weight: 400;
      color: #666;
      margin-bottom: 20px;
    }
    &__info {
      li {
        line-height: 1.6em;
        color: $color-black-medium;
        margin-bottom: 8px;
        strong {
          font-weight: 700;
          cursor: pointer;

          &:hover {
            color: $color-pink-primary;
            text-decoration: underline;
          }
        }
        a {
          color: $color-black-medium;
          font-weight: 400;
          &:hover {
            color: $color-pink-primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 10px;
    padding: 13px 0;
    &__widget {
      &--label {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: $color-blue-primary;
        border-bottom: 1.5px solid $color-pink-primary;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      &--sub {
        li {
          display: block;
          margin-bottom: 10px;
          a {
            font-size: 15px;
            color: #666;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .footer-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    &__form {
      position: relative;
      width: 100%;
      button {
        width: 50px;
        height: 54px;
        background: $color-pink-primary;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        color: #fff;
      }
      &--send {
        padding: 11px 20px;
        position: relative;
        width: 100%;
        height: 54px;
        color: #000;
        font-weight: 500;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.04);
      }
    }
    &__notification {
      padding: 25px 0;
    }
    &__social {
      li {
        display: inline-block;
        a {
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .slider {
    justify-content: center;
    text-align: center;
    &__content-box {
      padding: 44px 0px;
      margin: 0 auto;
    }
    &__image-layer {
      right: 0;
    }
    &__content-image {
      display: none;
    }
  }
  .banner-curve {
    display: none;
  }
  .about {
    .figure-about {
      flex-direction: column;
      .aside-left,
      .aside-right {
        width: 100%;
        padding: 0;
        &__photo {
          margin: 20px 0;
          padding: 0;
        }
        &__photo::before {
          margin: -36px 0px 0px -36px;
        }
      }
    }
  }
  .news {
    .post-news {
      &__group-box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 50px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .news {
    .post-news {
      &__group-box {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 50px;
      }
    }
  }
  .main-footer {
    width: 100%;
    grid-template-columns: 1fr;
    text-align: center;
    .footer-info {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
}
