@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  // 80% {
  //   transform: translateX(50px);
  // }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotateScale {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg);
  }
}
